%section#sinatra
  .sinatra-widget
    %h2.sinatra-widget-title Sinatra
    %p.sinatra-widget-description Bar Comas eyed the defiant and insubordinate chieftain for an instant, his expression one of haughty.
  .sinatra-doodle
    = image_tag "http://placehold.it/500x500&text=Sinatra%20Doodle"
  .sinatra-widget
    %h2.sinatra-widget-title Performance 
    %p.sinatra-widget-description Bar Comas eyed the defiant and insubordinate chieftain for an instant, his expression one of haughty.

%section#the-gang
  =image_tag "http://placehold.it/900x500&text=The%20Gang"
